<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%block name='scripts' />
    <title></title>
</head>
<body>
	<%block name='menu'>
	% if params is not UNDEFINED:
		%if 'menu' in params:
			%for menu_item in params['menu']:
				<a href=${menu_item['link']}>${menu_item['name']}</a>
			%endfor
		%endif
	% endif
	</%block>
    ${self.body()}    
    <div class="footer">
    </div>
</body>
    
</html>