<%inherit file="default.html"/>
    <div class="wrapper">
        <div id="header">           
            <form action = '#'>
                <input type = 'text' name = 'url' />
                <input type = 'submit' />
            </form> 
            % if params is not UNDEFINED:
                % if 'url' in params:
                   link: <a href = '${params['url']}'>${params['url']}</a>
                % endif
                % if 'statistic' in params:
                    statistic: <a href = '${params['statistic']}'>${params['statistic']}</a>
                % endif
                % if 'qrcode' in params:
                    <img src=${params['qrcode']} />
                % endif
            % endif
        </div>
    </div>
