<%inherit file="default.html"/>
<%block name='scripts'>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>   
    <link rel="stylesheet" href="http://yandex.st/jquery-ui/1.8.15/themes/redmond/jquery.ui.all.min.css">
    <script src="http://yandex.st/jquery/1.7.1/jquery.js"></script>
    <script src="http://yandex.st/jquery-ui/1.8.16/jquery-ui.js"></script>    
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Browser');
        data.addColumn('number', 'Visit');
        data.addRows(${params['browsers']});

        var options = {
          width: 450, height: 300,
          title: 'Browsers'
        };

        var chart = new google.visualization.PieChart(document.getElementById('browser_chart_div'));
        chart.draw(data, options);
      }
    </script>
   <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Os');
        data.addColumn('number', 'Visit');
        data.addRows(${params['os']});

        var options = {
          width: 450, height: 300,
          title: 'OS'
        };

        var chart = new google.visualization.PieChart(document.getElementById('os_chart_div'));
        chart.draw(data, options);
      }
    </script>
     <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Clicks');
        data.addRows(${params['clicks']});

        var options = {
          width: 700, height: 240,
          title: 'Clicks',
          vAxis: { titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('graph_chart_div'));
        chart.draw(data, options);
      }
    </script>
    <script>
      $(function() {
        $( "#from_datepicker" ).datepicker();
      });
    </script>
    <script>
      $(function() {
        $( "#to_datepicker" ).datepicker();
      });
    </script>
</%block>

<p>${params['time']}</p>

<div class="demo">

<p>Date: <input id="from_datepicker" type="text"></p>
<p>Date: <input id="to_datepicker" type="text"></p>

</div>
<div id="graph_chart_div"></div>
<div id="browser_chart_div"></div>
<div id="os_chart_div"></div>

